.friendBlock {
   display: flex;
   width: 100%;
   padding: 15px;
   border-radius: 20px;
   background-color: rgba(2, 2, 2, 0.171);
   position: relative;
}

.friendBlock + .friendBlock {
    margin-top: 15px;
}

.ImgBlock {
   width: 150px;
   height: 150px;
   border-radius: 100%;
   overflow: hidden;
   margin-right: 50px;
}

.ImgBlock img {
   width: 100%;
}

.settingsBtn {
   position: absolute;
   text-decoration: none;
   display: flex;
   padding: 0;
   background: transparent;
   border: none;
   cursor: pointer;
   right: 25px;
   top: 15px;
}

.friendInfo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.friendName {
   font-weight: 700;
   font-size: 30px;
}

.GoChat {
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   color: rgb(188, 158, 228);
   border: 2px solid rgb(188, 158, 228);
   background-color: rgba(2, 2, 2, 0.171);
   text-decoration: none;
   border-radius: 10px;
   margin-top: 20px;
}
