.userBlock {
   display: flex;
   align-items: center;
   padding: 15px;
   border-radius: 15px;
   background-color: rgba(2, 2, 2, 0.173);
   border: 2px solid transparent;
   transition: 0.5s;
}

.userBlock + .userBlock {
   margin-top: 25px;
}

a {
   text-decoration: none;
   color: #fff;
}

.lSide {
   display: flex;
   align-items: flex-start;
   width: 100%;
}

.avatarBlock {
   width: 150px;
   height: 150px;
   border-radius: 100%;
   overflow: hidden;
   border: 2px solid #fff;
   margin-right: 50px;
}

.avatarBlock img {
   width: 100%;
   height: 100%;
   transition: 0.3s;
}

.avatarBlock:hover img {
   transform: scale(1.1);
}

.userName {
   font-weight: 700;
   font-size: 25px;
   margin-bottom: 10px;
}

.followBtn {
   border: 2px solid rgb(188, 158, 228);
   background-color: rgba(0, 0, 0, 0.335);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   border-radius: 8px;
   height: 50px;
   margin-right: 50px;
   color: #fff;
   font-weight: 700;
   font-size: 20px;
   cursor: pointer;
}

.searchInp {
   width: 100%;
   height: 100%;
   border: none;
   padding: 15px;
   color: #fff;
   font-weight: 600;
   font-size: 20px;
   padding-left: 0px;
   transition: 0.3s;
   padding: 15px;
   background: transparent;

}

.searchInp:focus {
    outline: none;
}

.inpBlock {
   position: relative;
   padding-left: 70px;
   margin-bottom: 25px;
   width: 100%;
   border-radius: 10px;
   background-color: rgba(2, 2, 2, 0.173);
   border: 2px solid rgba(188, 158, 228, 0.606);
   overflow: hidden;
   margin-top: 20px;
}

.inpBlock img {
   position: absolute;
   left: 25px;
   top: 15px;
   cursor: pointer;
}

.inpBlock:focus {
   border: 2px solid rgb(188, 158, 228);
   outline: none;
} 

.pagination {
   display: flex;
   align-items: center;
   width: auto;
   justify-content: center;
   margin: 0 auto;
   margin-top: 50px;
}

.pageBtn {
   display: flex;
   width: 30px;
   height: 30px;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.348);
   transition: .3s;
   border: 1px solid rgba(188, 158, 228, 0.606);
   border-radius: 4px;
   cursor: pointer;
   font-weight: 600;
   font-size: 15px;
   color: rgba(255, 255, 255, 0.498);
   margin: 0 5px;
}

.pageBtn.selected {
   color: #fff;
   border: 1px solid rgba(188, 158, 228, 1);
}

.UsersPage {
   font-weight: 600;
   font-size: 30px;
   margin-bottom: 20px;
}
