.header {
   padding: 10px 0;
   background-color: rgba(0, 0, 0, 0.3);
   margin-bottom: 30px;
}

.logoImg {
   width: 50px;
}

.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logoLink {
   display: block;
}

.profileBtn {
   display: flex;
   align-items: center;
}

.rightSide {
   display: flex;
   align-items: center;
}

.profileImgWrap {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   overflow: hidden;
   margin-right: 10px;
}

.profileImg {
   margin-right: 10px;
   width: 100%;
}

.searchIcon {
   margin-right: 50px;
}
