.avatarblock {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.avatarblock img {
    width: 100%;
    height: 100%;
}

.messageBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 15px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.messageBlock.my {
    flex-direction: row-reverse;
}

.messageBlock.my .info {
    background-color: rgba(40, 16, 69, 0.337);

}


.info {
    padding: 10px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}

.name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}